<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/index.js"></script>
</head>
    <body>
        <h1></h1>
        <div id="create_plant_entry">
            <h2>New plant sightings</h2>
            <form id="create_plant_form" action="/create" method="post" enctype="multipart/form-data">
                <p>
                    <label for="image_file">Upload image file:</label>
                    <input type="file" id="image_file" name="image_file" accept="image/*">
                </p>
                <p>
                    <label for="image_url">Or enter image URL:</label>
                    <input type="url" id="image_url" name="image_url">
                </p>
                <p>
                    <label for="location">Location found: </label>
                    <input type="text" id="location" name="location">
                </p>
                <p>
                    <label for="description">Plant description: </label>
                    <input type="text" id="description" name="description">
                </p>
                <h3>Plant size</h3>
                <p>
                    <label for="height">Plant height: </label>
                    <input type="text" id="height" name="height">
                </p>
                <p>
                    <label for="spread">Plant spread: </label>
                    <input type="text" id="spread" name="spread">
                </p>
                <h3>Plant characteristics</h3>
                <p>
                    <label for="flowers">Does the plant have flowers?</label>
                    <input type="radio" id="flowers_yes" name="flowers" value="yes">
                    <label for="flowers_yes">Yes</label>
                    <input type="radio" id="flowers_no" name="flowers" value="no">
                    <label for="flowers_no">No</label>
                </p>
                <p>
                    <label for="leaves">Does the plant have leaves?</label>
                    <input type="radio" id="leaves_yes" name="leaves" value="yes">
                    <label for="leaves_yes">Yes</label>
                    <input type="radio" id="leaves_no" name="leaves" value="no">
                    <label for="leaves_no">No</label>
                </p>
                <p>
                    <label for="fruits_seeds">Does the plant have fruits or seeds?</label>
                    <input type="radio" id="fruits_seeds_yes" name="fruits_seeds" value="yes">
                    <label for="fruits_seeds_yes">Yes</label>
                    <input type="radio" id="fruits_seeds_no" name="fruits_seeds" value="no">
                    <label for="fruits_seeds_no">No</label>
                </p>
                <p>
                    <label for="sun_exposure">What is the sun exposure in that area?</label>
                    <input type="radio" id="full_sun" name="sun_exposure" value="full_sun">
                    <label for="fruits_seeds_full_sun">Full sun</label>
                    <input type="radio" id="partial_shade" name="sun_exposure" value="partial_shade">
                    <label for="partial_shade">Partial shade</label>
                    <input type="radio" id="full_shade" name="sun_exposure" value="full_shade">
                    <label for="full_shade">Full shade</label>
                </p>
                <h3>Identification</h3>
                <p>
                    <label for="plant_name">Plant name: </label>
                    <input type="text" id="plant_name" name="plant_name" required>
                </p>
                <p>
                    <label for="plant_certainty">Plant unknown or uncertain?</label>
                    <input type="radio" id="unknown" name="plant_certainty" value="unknown">
                    <label for="unknown">Unknown</label>
                    <input type="radio" id="uncertain" name="plant_certainty" value="uncertain">
                    <label for="uncertain">Uncertain</label>
                </p>
                <h3>Your username</h3>
                <p>
                    <label for="username">Username: </label>
                    <input type="text" id="username" name="username">
                </p>
                <button id="create" type="submit">Create plant_entry</button>
            </form>
        </div>

        <button id="close_btn" onclick="returnHome()">Go Back</button>
    </body>
</html>