<div class="header">
    <a class="logo" href="/" >PLANTGRAM</a>
    <a class="nav-button" href="/">Home</a>
    <a class="nav-button" href="/create_plant">Add a plant entry</a>
    <a class="nav-button" href="/enter_username">Your username</a>
</div>