<header>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/main.js"></script>
    <div class="header_container">
        <a href="/" class="logo">PLANTGRAM</a>
        <div class="menu_links">
            <a id="homeLink" href="/" >Home</a>
            <a id="addLink" href="/create_plant">+ Add a plant entry</a>
        </div>
    </div>
</header>