<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="manifest" href="/manifest.json">
    </head>
    <body>
        <div class="body_container">
            <%- include('partials/header') %>
            <div class="main_section">
                <h2>Enter your username: </h2>
                <input class="text-input" type="text" id="username" placeholder="Enter your username">
                <button id="save" class="form-button">Save username</button>
                <button id="close_btn" class="form-button" onclick="returnHome()">Go To Homepage</button>
            </div>
            <%- include('partials/footer.ejs')%>>
        </div>
    </body>
    <script src="/javascripts/enter_username.js"></script>
    <script src="/javascripts/username-util.js"></script>
</html>
