<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="manifest" href="/manifest.json">
        <link rel="shortcut icon" href="#">
    </head>
    <body onload="enter_username()">
        <div class="body_container">
            <%- include('partials/header') %>
            <div class="main_section">
                <h2>Enter your username: </h2>
                <div id="enter_username_field">
                    <label for="username">Your username: </label>
                </div>
                <button id="save_btn" class="form-button" onclick="setUsername(); goToReferrer()">Save username</button>
                <button id="home_btn" class="form-button">Go To Homepage</button>
            </div>
        </div>
        <%- include('partials/footer.ejs')%>>
        <script src="/javascripts/username-utils.js"></script>
        <script src="/javascripts/enter_username.js"></script>
    </body>
</html>
