<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/index.js"></script>
  </head>
  <body onload="init()">
    <h1><%= title %></h1>
    <button id="create_btn" onclick="openCreatePost()">Create new post</button>
    <button id="post_btn" onclick="showPostDetails()">Show post details</button>

    <div id="overlay">
      <% include create-post.ejs%>
      <% include post-details.ejs%>
    </div>
  </body>
</html>
