<div id="post_details">
    <div id="history" class="boxed"></div>
    <div id="input" class="bottom boxed">
        <form onsubmit="return false;" style="width: 100%">
            <p>
                <div id="who_you_are" style="display: inline"></div>
                <input type="text" placeholder="Post your reply" id="chat_input" name="chat_input" style="width: 80%">
                <button id="chat_send" onclick="sendChatText()">Send</button>
            </p>
        </form>
    </div>
    <button id="close_btn" onclick="closePostDetails()">Close window</button>
</div>