/* MAIN */
.main_section{
    flex-direction: column;
}

.add_plant_entry_container{
    text-align: center;
    width: 50%;
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    color:#AA7A54;
}

input::file-selector-button {
    background-color: #758874;
    color: #E4C9AC;
    transition-duration: 0.4s;
    border-radius: 10px;
    border: 0 hidden;
    padding: 7px;
}

input[type="file"]:disabled {
    display: none;
}

/* LOCATION */
.submitLocation{
    display: flex;
    background-color: #758874;
    margin: auto;
    color: #E4C9AC;
    transition-duration: 0.4s;
    border-radius: 10px;
    border: 0 hidden;
    padding: 7px;
}

/* SINGULAR FIELDS */
.create_entry_title {
    color:#AA7A54;
    text-align: center;
}

#username-container{
    margin: 5px auto;
    border-radius: 15px;
}

/* REQUIRED */
.required {
    color: red;
}

.required_text{
    display: flex;
    justify-content: flex-end;
}