
.add_plant_entry_container{
    text-align: center;
    width: 50%;
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    color:#AA7A54;
}

.submitLocation{
    display: flex;
    background-color: #758874;
    margin: auto;
    color: #E4C9AC;
    transition-duration: 0.4s;
    border-radius: 10px;
    border: 0 hidden;
    padding: 7px;
}

input::file-selector-button {
    display: flex;
    background-color: #758874;
    margin: auto;
    color: #E4C9AC;
    transition-duration: 0.4s;
    border-radius: 10px;
    border: 0 hidden;
    padding: 7px;
}

.create_entry_title {
    color:#AA7A54;
    text-align: center;
}

#username-container{
    margin: 5px auto;
    border-radius: 15px;
}
