body {
  /*padding-left: calc(230px + 15px);*/
  /*padding-right: 15px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E4C9AC;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

footer {
  background-color: #758874;
  height: 50px;
}

.body_container{
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
}

.two-columns.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main_section{
  padding: 2%;
  width: 100%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  background-color: #373F32;
  transition-duration: 0.3s;
}

select {
  border-radius: 20px;
  border: antiquewhite 2px solid;
  padding: 5px;
}

/*HEADER*/

.header {
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  width: 230px;
  min-width: 230px;
  /*height: 100%;*/
  background-color: #758874;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.nav-button, .logo {
  background-color: #758874;
  color: #F4EDB3;
  padding: 10px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 20px;
}

.logo {
  background-color: #758874;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.arrow-left-icon {
  height:20px;
  position: absolute;
  top: 5%;
  left: calc(230px + 3%);
}

.nav-button.active {
  background-color: #373F32;
}

.nav-button:hover {
  background-color: #21251E;
}

/*END OF HEADER*/

/*HOME PAGE*/

#search-input {
  height: 35px;
  border-radius: 20px;
  border: antiquewhite 2px solid;
  width: 100%;
}

.search button {
  height: auto;
  border-radius: 20px;
  border: antiquewhite 2px solid;
  padding: 5px;
  width: auto;
}

.search img {
  height: 25px;
}

.search {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.search-and-sort {
  padding: 15px;
  background: antiquewhite;
  margin: 10px 0 20px 0;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.plant-entries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plant-entry-container {
  background: antiquewhite;
  border-radius: 25px;
  display: flex;
  width: calc(50% - 10px);
  min-width: 285px;
  max-width: 500px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  transition-duration: 0.4s;
}

.plant-entry-container:hover{
  background-color: #AA7A54;
}

.plant-entry-container:last-child {
  margin-right: 0; /* Remove margin from last container */
}

.plant-entry-container > a {
  text-decoration: none;
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  color: #21251E;
}

.view.plant-entry-container > a {
  height: fit-content;
  width: fit-content;
}

.view.plant-entry-container {
  width: 100%;
  max-width: unset;
  flex-direction: row;
  justify-content: center;
}

.view.plant-entry-container:hover{
  background-color: antiquewhite;
}

.view.plant-entry-container .txt-container {
  flex-direction: column;
}

.plant-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-right: 20px;
  border-radius: 15px;
}

.plant-entry-container .plant-info {
  margin: auto;
}

/*END OF HOME PAGE*/

button:hover{
  /*background-color: #758874;*/
  background-color: #AA7A54;
  cursor: pointer;
}

.add_plant_entry_container{
  text-align: center;
  width: 50%;
  height: fit-content;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 5px;
  margin: auto;
  color:#AA7A54;
}

.submitLocation{
  display: flex;
  background-color: #758874;
  margin: auto;
  color: #E4C9AC;
  transition-duration: 0.4s;
  border-radius: 10px;
  border: 0 hidden;
  padding: 7px;
}

input::file-selector-button {
  display: flex;
  background-color: #758874;
  margin: auto;
  color: #E4C9AC;
  transition-duration: 0.4s;
  border-radius: 10px;
  border: 0 hidden;
  padding: 7px;
}

.text_box {
  height: 50px;
  border-radius: 20px;
  border: antiquewhite 2px solid;
  padding: 5px;
  width: 80%;
}

.create_entry_title {
  color:#AA7A54;
  text-align: center;
}

.form_div {
  margin-left: 43%;
  display: flex;
  margin-bottom: 10px;
}

/*VIEW PLANT SECTION*/

/*.plant-image {*/
/*  width:300px;*/
/*  height: 300px;*/
/*  background-color: antiquewhite;*/
/*  padding: 20px 20px 80px;*/
/*  box-shadow: #21251E;*/
/*  object-fit: cover;*/
/*  object-position: 25% 25%;*/
/*}*/

.form-button, .return-button{
  display: flex;
  background-color: #AA7A54;
  margin: auto;
  color: #E4C9AC;
  transition-duration: 0.4s;
  border-radius: 20px;
  border: 0 hidden;
  padding: 7px;
}

.return-button {
  margin-top: 10px;
}

.container {
  display: flex;
}

.plant_details {
  margin-right: 20px;
}

.comment_interface {
  flex: 1;
}

.plant_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.comment-container {
  flex: 1;
}

.plant_link:hover {
  background-color: #AA7A54;
}

/*END VIEW PLANT SECTION*/
/*ENTER USERNAME SECTION*/
#create_username_form > *{
  margin-bottom: 1%;
  margin-top: 1%;
}
/*END USERNAME SECTION*/

#map {
  height: 500px;
  width: 500px;
}