/* NAVIGATION BAR */
.view_plant .nav-links .form-button {
  margin: unset;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom:1.5%;
}

.nav-links .form-button {
  margin: unset;
}

.arrow-btn, .arrow-btn:hover {
  margin: auto 0;
}
/* END NAVIGATION BAR SECTION */

/* CONTAINER UTILS */
.container > a {
  height: fit-content;
  width: fit-content;
}

.container {
  width: 100%;
  max-width: unset;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.container.bigger-column, .container.smaller-column, .container.equal-column {
  background-color: antiquewhite;
}

.plant-image {
  margin: 0 auto;
}

.view.container .txt-container {
  flex-direction: column;
}

.container.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}

.container.two-columns.row-1 .main.container,
.container.two-columns.row-1 .details-container {
  height: 45em;
}

.container.two-columns.row-2 .chat.container,
.container.two-columns.row-2 .map.container {
  height: 35em;
}

.container.two-columns .container, .container.two-columns .chat.container {
  height: 100%;
  padding: 1%;
  min-width: 400px;
  min-height: 300px;
}

.plant_details.equal-column.container{
  padding: 0%;
  min-width: 200px;
}

.container.two-columns .chat.container {
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  background: transparent;
}

.container.plant_details {
  align-items: unset;
  margin: 0px;
  padding: 1%;
}

.container.plant_details b{
  font-size: 1.17em;
}

#abstract_dbp {
  max-height: 300px;
  overflow: scroll;
  overflow-x: auto;
}

/* END CONTAINER UTILS */
/* COMMENTS */
.comment_interface, .comments_container {
  flex: 1;
}

#comments_container{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #758874;
  border-radius: 3px;
  padding-bottom:3px;
}

#comments_container hr {
  border: 1px #373F32 solid;
}

.send-message-box input[type="text" i]{
  height: 22px;
  width: 100%;
}

.send-message-box .form-button {
  margin: 0 5px;
}

.send-message-box, #username-container {
  margin: 1% 0;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 3px;
  padding:3px;
}

.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  height: fit-content;
  max-height: fit-content;
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask:
          radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%)
          var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
          conic-gradient(at var(--r) var(--r),#000 75%,#0000 0)
          calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
          radial-gradient(50% 50%,#000 98%,#0000 101%)
          0 0/var(--r) var(--r) space padding-box;
  background: #AA7A54;
  color: #21251E;
  margin-bottom: 10px;
}
.bubble.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}

.bubble.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
  background: antiquewhite;
}

.bubble.pending {
  background: #555555;
}
/* END COMMENTS SECTION */
/* MEDIA */
@media (max-width: 1500px){
  .container.two-columns.row-1 .main.container,
  .container.two-columns.row-1 .details-container,
  .container.two-columns.row-2 .chat.container,
  .container.two-columns.row-2 .map.container {
    height: fit-content;
    width: 390px;
  }

  .container.two-columns {
    flex-direction: column;
  }

  .container.two-columns.row-2 .chat.container{
    justify-content: space-evenly;
  }

  #comments_container {
    height: 20em;
  }

}

#collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.hidden {
  display: none;
}
