body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEF3D9;
}

header{
  background-color: #124B09;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

header a.logo{
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}
a {
  color: #00B7FF;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#plant_details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
}

.container {
  display: flex;
}

.plant_details {
  flex: 1;
  margin-right: 20px;
}

.comment_interface {
  flex: 1;
}

.plant_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.plant_image {
  flex: 0 0 auto;
  margin-right: 10px;
}

.plant_content {
  flex: 1;
}

.plant_link:hover {
  background-color: #f0f0f0;
}