body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E4C9AC;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header_container {
  width: 100%;
  height: fit-content;
  background-color: #758874;
  text-align: center;
  padding: 20px 12px 20px 12px;
  font-size: 18px;
  line-height: 25px;
}

.header_container a.logo {
  font-size: 25px;
  font-weight: bold;
  padding:5px;
}

.header_container a {
  color: #F4EDB3;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 20px;
}

.header_container .menu_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 20px;
}

.header_container .menu_links a {
  padding:7px;
  margin:10px;
}

.header_container .menu_links a.active {
  background-color: #373F32;
}

.header_container .menu_links a:hover {
  background-color: #21251E;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main_section {
  padding: 0 50px 0 50px;
  height:100%;
  min-height: 90vh;
}

.main_section .btn {
  background-color: #373F32;
  transition-duration: 0.4s;
  color: white;
  border-radius: 20px;
  border: 0 hidden;
  padding: 7px;
}

.main_section .text_input {
  height: 25px;
  border-radius: 20px;
  border: antiquewhite 2px solid;
  padding: 5px;
  width: 90%;
}

.main_section .utilities {
  padding: 15px;
  background: antiquewhite;
  margin: 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.main_section .utilities .search_group {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.main_section .utilities .search_group button {
  height: auto;
  border-radius: 20px;
  border: antiquewhite 2px solid;
  padding: 5px;
  width: auto;
}

.main_section .utilities .search_group img {
  height: 25px;
}

.main_section .plant_entries {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.main_section .plant_entries .plant_entry_container {
  width: fit-content;
  margin: 30px;
}

.main_section .plant_entries .plant_entry_container a {
  background: antiquewhite;
  display: flex;
  flex-direction: column;
}

.main_section .plant_entry_container .plant_image {
  width: 150px;
  height: 150px;
  margin:15px;
  object-fit: cover;
  object-position: 25% 25%;
}

.main_section .plant_entry_container .img_info {
  text-align: center;
}


.main_section .btn:hover{
  background-color: #758874;
  cursor: pointer;
}

#plant_details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
}

.container {
  display: flex;
}

.plant_details {
  flex: 1;
  margin-right: 20px;
}

.comment_interface {
  flex: 1;
}

.plant_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}



.plant_content {
  flex: 1;
}

.plant_link:hover {
  background-color: #AA7A54;
}

footer {
  background-color: #758874;
  height: 50px;
}